*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.body-container{
    min-height: 100vh;
    width: 100vw;
    background-image: url(../img/backgroung-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* HEADER */


.header-container{
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    padding: 18px 79px ;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo-jorney{
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
}
.logo-jorney:hover{
    color: rgba(1, 129, 63, 1);
    transition: 0.3s;
}
.header-navigation{
    display: flex;
}
.pictograms{
    display: flex;
    gap: 25px;
    padding-right: 25px;
    cursor: pointer;
    border-right: 1px solid white; 
}
.pictograms-item:hover path{
    fill: rgba(1, 129, 63, 1);
    transition: 0.3s;
}

.header-container:hover p{
    color:rgba(255, 255, 255, 0.4);
    transition: ease-out 0.7s; 
}
.header-container:hover .pictograms{
    border-right: 1px solid rgba(255, 255, 255, 0.4); 
    transition: ease-out 0.7s;
}
.login-form{
    padding-left: 25px;
    color: #FFFFFF;
    display: flex;
    gap: 4px;
}
.login-link:hover{
    color: rgba(1, 129, 63, 1);
    transition: 0.3s;
}


/* MAIN */


.form-container{
    content: "";
    box-sizing: border-box;
    width: 444px;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    padding: 31px 60px 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.form-container::after{
    content: url(../img/shape.png);
    position: absolute;
    top: 34px;
    left: 0px;
}


.registration-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}
.sign-up-form{
    color: rgba(67, 67, 67, 1);
    font-size: 20px;
}
.log-in-form{
    color:rgba(60, 184, 120, 1);
    font-size: 14px;
    cursor: pointer;
}
.log-in-form:hover{
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;
}


.fb-google-btn-container{
    margin-bottom: 57px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
.fb{
    position: relative;
    cursor: pointer;
}
.form-btn{
    width: 160px;
    height: 48px;
    border-radius: 3px;
}
.facebook-btn{
    background-color: rgba(48, 93, 184, 1);
}
.fa-facebook-f{
    content: "";
    position: absolute;
    top: 12px;
    left: 17px;
    font-size: 24px;
}
.fb-name{
    content: "";
    position:absolute;
    top: 15px;
    right: 21px;
}
.fb-name::before{
    content:url(../img/blue-vert-line.png);
    position: absolute;
    left: -18px;
    top: -5px;
}
.fb:hover {
    background-color:rgba(2, 34, 99, 1);
    width: 160px;
    height: 48px;
    border-radius: 3px;
}
.fb:hover .facebook-btn{
    background-color:rgba(0, 0, 0, 0) ;
}


.google{
    position: relative;
    cursor: pointer;
}
.google-btn{
    background-color: rgba(223, 74, 50, 1);
}
.fa-google-plus-g{
    content: "";
    position: absolute;
    top: 13px;
    left: 12px;
    font-size: 24px;
}
.google-name{
    content: "";
    position:absolute;
    top: 15px;
    right: 27px;
}
.google-name::before{
    content:url(../img/red-vert-line.png);
    position: absolute;
    left: -30px;
    top: -5px;

}
.google:hover {
    background-color: rgba(171, 31, 9, 1);
    width: 160px;
    height: 48px;
    border-radius: 3px;
}
.google:hover .google-btn{
    background-color:rgba(0, 0, 0, 0) ;
}


.or{
    font-size: 14px;
    color: rgba(132, 132, 132, 1);
    margin-bottom: 12px;
    margin: 0 auto;
    display: flex;
    position:absolute;
    top:139px;
    left: 215px;
}
.or::before{
    content: url(../img/line.png);
    position: absolute;
    right: 19px;
    top: -3px;
}
.or::after{
    content: url(../img/line.png);
    position: absolute;
    left: 19px;
    top: -3px;
} 


.input-fields input{
    width: 100%;
    height: 44px;
    border: 1px solid rgba(242, 242, 242, 1);
    border-radius: 3px;
    margin-bottom: 15px;
    padding-left: 20px;
    color: rgba(67, 67, 67, 1);
    font-size: 14px;  
}
input::placeholder{
    color: rgba(190, 190, 190, 1);
}
input:focus{
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    border: none;
}

.terms-conditions-container{
    display: flex;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
}
.checkbox-terms-conditions{
    width: 20px;
    height: 20px;
    outline:1px solid rgba(242, 242, 242, 1);
}
.checkbox-terms-conditions:checked{
    background-image: url(../img/svg/checked.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.terms-and-conditions-link{
    color: rgba(60, 184, 120, 1);
    cursor: pointer;
}
.terms-and-conditions-link:hover{
    color:rgba(1, 129, 63, 1);
    border-bottom: 1px solid rgba(1, 129, 63, 1);
}

.create-account-btn{
    background-color: rgba(60, 184, 120, 0.8);
    width: 100%;
    height: 46px;
    border-radius: 3px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.create-account-btn:hover{
    background-color: rgba(1, 129, 63, 1);
}
